html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg);
    text-align: center;
}

h1 {
    font-family: 'Allan', serif;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    margin: 20px 0;
}

/* --------------------------- */

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

/* --------------------------- */

#box {
    position: relative;
    width: 100%;
    background: white;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 2em 1.5em;
    color: rgba(0, 0, 0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 60px auto;
}

#box:before, #box:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 90%;
    top: 80%;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#box:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.user {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;

}

.userTime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.fitImg {
  max-width: 65%;
  max-height: 65%;
}

.centerImg {
  display: block;
  margin: auto;
}

.circular {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circularDetail {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.square {
    width: 550px;
    height: 300px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

span.pagebanner {
	background-color: #eee;
	width: 79%;
	margin-top: 10px;
	display: block;
    font-size:12;
	border-bottom: none;
}

span.pagelinks {
	background-color: #eee;
	width: 79%;
	display: block;
	border-top: none;
    font-size:12;
}

div.exportlinks {
    font-size:12;
	width: 79%;
}

span.export {
	cursor: pointer;
    font-size:12;
}

.dialogFont {
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
}

.textForm {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

}